header {
  color: whitesmoke;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #082ece;
  position: sticky;
  top: 0;
}

.title {
  margin-left: 15px;
}

.logo-mini {
  height: 3em;
  margin-left: 1.5em;
}
